@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    background: url("./bgimage.avif");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
main{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0,0,0,0.25));
    padding: 25px;
}

.search-box{
    width: 65%;
    margin: 0 0 75px;
    align-items: center;
  }
  .search-box .search-bar{
    display: block;
    width: 65%;
    padding: 15px;
    margin-left: 28vw;
    text-align: center;
    height: 40px;
  
    appearance: none;
    background: none;
    border: none;
    outline: none;
  
    background-color: rgba(255,255,255,0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: -25px;
  
    box-shadow: 0px 5px rgba(0,0,0,0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease
  }
  .search-box .search-bar:focus {
    background-color: rbga(255,255,255,0.75);
  }
  .card-group {
      align-items: center;
  }
  .header-title {
    font-family: "Poppins", sans-serif;
  }

  .header-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
  }
  .header-row{
    color: #fff;
    font-size: 32px;
    /* font-weight: 200; */
    text-align: center;
    text-shadow: 3px 3px rgba(50,50,70,0.5);
    padding: 20px;
  }
  .footer-row{
    padding: 30px;
  }
  .location-search{
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    text-shadow: 3px 3px rgba(50,50,70,0.5);
  }
  .location-text{
  
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
  font-family: "Poppins", sans-serif;

  }
  .card{
    font-family: "Poppins", sans-serif;
    background-color: rgba(206, 204, 204, 0.30) !important;
    color: #fff;
    text-shadow: 2px 2px rgba(50,50,70,0.5) !important;
    box-shadow: 2px 5px rgba(53, 53, 53, 0.5) !important;
  }
  .description{
    /* font-family: "Poppins", sans-serif !important; */
    font-size: 18px;
  }